.contenedor-tabla {
    background-color: rgb(235, 233, 233);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    position: relative;
    left: 14em;
    bottom: 33rem;
    max-width: 1400px;
  }
  
  .titulo-tabla {
    font-size: 16px;
    color: #000000;
    margin: 0 0 15px 0;
    font-weight: 600;
  }
  
  .tabla-mascotas {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-mascotas thead th {
    text-align: left;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
  }
  
  .tabla-mascotas tbody tr {
    border-bottom: 1px solid #c6baba;
  }
  
  .tabla-mascotas tbody tr:last-child {
    border-bottom: none;
  }
  
  .tabla-mascotas tbody td {
    padding: 15px;
    color: #333;
    font-size: 14px;
  }
  
  /* Ajusta el primer thead th para alinearlo con el contenido */
  .tabla-mascotas thead th:first-child,
  .tabla-mascotas tbody td:first-child {
    padding-left: 0;
  }
  
  /* Efecto hover para las filas */
  .tabla-mascotas tbody tr:hover {
    background-color: #b7b7b7;
  }